
<div class="cstock">
    <div class="left">
        <div class="chooseMarket">
            <span>沪深</span>
            <span>港股</span>
            <span>美股</span>
        </div>
        <h3>选择范围</h3>
        <div class="chooseRange">
            <div class="rangeItem">
                <span>市场：</span>
                <select name="rangeMarket">
                    <option value="sh_sz">全部A股</option>
                    <option value="sha">沪市A股</option>
                    <option value="sza">深市A股</option>
                </select>
            </div>
            <div class="rangeItem">
                <span>地域板块：</span>
                <select name="rangeMarket">
                    <option value="">全部</option>
                    <option *ngFor="let item of areaList" value="{{item}}">{{areas[item]}}</option>
                </select>
            </div>
            <div class="rangeItem">
                <span>行业：</span>
                <select name="rangeMarket">
                    <option value="">全部</option>
                    <option *ngFor="let item of industriesList" value="{{item.encode}}">{{item.name}}</option>
                </select>
            </div>
        </div>
        <h3>条件设置</h3>
        
    </div>
    <div class="right">

    </div>
</div>